.nl-QRcontainer {
  background-color: rgba(138, 225, 234, 0.3);
  color: rgba(9, 32, 121, 0.9);
}

.nl-preset-card {
  cursor: pointer;
  /* background-color: transparent !important; */

  border-radius: 20px !important;
  /* transition: all 0.3s ease; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 20px;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* border: 2px solid var(--nl-tech-blue) !important; */
  border: 2px solid var(--nl-tech-blue) !important;
  /* background-color: rgba(189, 226, 231, 0.6); */
  background-color: rgba(239, 244, 245, 0.8);
}

.nl-preset-card .preset-name {
  color: var(--nl-tech-blue);
  opacity: 0.85;
  font-weight: 700;
}

.nl-preset-card .preset-desc {
  color: var(--nl-deep-blue);
}

.qr-svg-icon path {
  fill: var(--nl-deep-blue);
}

.nl-preset-card:hover {
  transform: translateY(-4px) scale(1.02);
  border-color: rgba(12, 82, 187, 0.8) !important;
  background-color: rgba(12, 109, 255, 0.8) !important;
  box-shadow: 0 20px 40px rgba(12, 109, 239, 0.15);
}

.nl-preset-card:hover .preset-name,
.nl-preset-card:hover .preset-desc,
.nl-preset-card:hover .qr-svg-icon path {
  color: white !important;
  fill: white !important;
  opacity: 1;
}

.nl-preset-card:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(12, 109, 255, 0.2) !important;
}

/* Specific Preview Adjustments */
.airtag-style {
  padding: 20px;
}

.wallet-style {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.url-label {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.url-label span:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.input-placeholder-xs::placeholder {
  font-size: 0.75rem;
  opacity: 0.7;
  font-weight: 500;
}

.shadow-none-focus:focus {
  box-shadow: none !important;
  transform: none !important;
}

.modal-content {
  border-radius: 32px !important;
  border: none !important;
  overflow: hidden !important;
}

.nl-premium-modal .modal-content {
  background-color: var(--nl-white) !important;
  border-radius: 32px !important;
  border: none !important;
  overflow: hidden !important;
  box-shadow: var(--shadow-md) !important;
}

.nl-title-navy {
  color: var(--nl-deep-blue) !important;
  letter-spacing: -0.02em;
  font-weight: 800px;
}
