/* NAVBAR */

.nav-wrapper {
  margin-top: 10px;
}

.navbar.bg-white {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2) !important;
}

/* HERO SECTION */
.hero-container {
  background-color: #001529;
  min-height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 140px;
  padding-bottom: 80px;
}

.hero-content {
  z-index: 2;
  max-width: 600px;
}

.hero-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-image:
    linear-gradient(
      to right,
      rgba(09, 32, 121, 0.8) 30%,
      rgba(09, 32, 121, 0.4) 60%,
      rgba(12, 109, 255, 0.1) 100%
    ),
    url("../../assets/Landing/nl-hero-keys.webp");

  background-size: cover;
  background-position: right center;

  /* Gradient */
  /* mask-image: linear-gradient(
    to right,
    rgba(252, 252, 252, 0) 0%,
    rgba(0, 0, 0, 1) 50%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 1) 70%
  ); */
}

/* How It Works */

.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.step-card {
  transition: transform 0.3s ease;
}

.step-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(8, 117, 219, 0.1) !important;
}

.step-image-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.step-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-circle-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Features */

.features-bento-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 180px;
  gap: 1.5rem;
}

.feature-card {
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.02);
}

/* Grid mapping --- */

.f-tall {
  grid-row: span 2;
}

.f-blue {
  background-color: var(--nl-deep-blue);
  color: white;
}

.f-wide {
  grid-column: span 2;
}

.f-small {
  grid-column: span 1;
}

.f-tall-right {
  grid-row: span 3;
}

.f-small-fix {
  grid-column: span 1;
  grid-row: span 2;
}
.f-bottom-banner {
  grid-column: 1 / -1;
  grid-row: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.f-dynamic-7 {
  grid-column: span 2 !important;
  grid-row: span 1;
}

@media (max-width: 992px) {
  .features-bento-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 160px;
  }

  .feature-card:nth-child(2) {
    grid-row: span 2 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .f-tall {
    grid-row: span 2;
  }
  .f-wide {
    grid-column: span 2;
  }

  .features-bento-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .f-bottom-banner {
    grid-column: span 2;
  }

  .f-dynamic-7 {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}

/* mobile device */
@media (max-width: 576px) {
  .features-bento-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .feature-card {
    height: auto;
    min-height: 200px;
    padding: 2rem !important;
  }

  .feature-card:nth-child(2) {
    min-height: 280px;
  }
}

/* Found section */

.image-column-wrapper {
  padding: 2rem;
}

.main-image-container {
  position: relative;
  z-index: 1;
}

.floating-icon-card {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--nl-deep-blue);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.floating-icon-card i {
  font-size: 3rem;
}

.floating-icon-card:hover {
  transform: scale(1.03);
  transition: font-size 0.3s ease;
}

.icon-top-right {
  top: -40px;
  right: 80px;
  color: var(--nl-warning);
}

.icon-bottom-left {
  bottom: -40px;
  left: 80px;
  color: var(--nl-info);
}

@media (max-width: 991px) {
  .floating-icon-card {
    width: 70px; /* Un poco más de aire que 50px mejora el UX */
    height: 70px;
    border-radius: 12px;
  }

  .floating-icon-card i {
    font-size: 2.5rem;
  }

  .image-column-wrapper {
    padding: 1rem;
  }

  .icon-top-right {
    right: 70px;
    top: 20px;
  }

  .icon-bottom-left {
    left: 80px;
    bottom: 20px;
  }
}

/* Mission CTA */
.mission-cta-container {
  height: 600px;
  position: relative;
  background-color: var(--nl-deep-blue);

  background:
    linear-gradient(
      to left,
      rgba(09, 32, 121, 0.9) 40%,
      rgba(09, 32, 121, 0.4) 70%,
      rgba(12, 109, 255, 0.1) 100%
    ),
    url("../../assets/Landing/nl-recovery-success.webp");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}

.mission-content {
  z-index: 2;
}

@media (max-width: 768px) {
  .mission-cta-container {
    background:
      linear-gradient(rgba(0, 21, 41, 0.6), rgba(0, 21, 41, 0.8)),
      url("../../assets/Landing/nl-recovery-success.webp");
    background-size: cover;
    text-align: center !important;
  }

  .mission-content {
    text-align: center;
  }

  .mission-content .d-flex {
    justify-content: center !important;
  }
}

/* Our Team */
.team-card {
  background: white;
  border-radius: 24px;
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.member-img-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 5px;
  border: 3px solid var(--nl-soft-gray);
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

.team-card:hover .member-img-wrapper {
  border-color: var(--nl-tech-blue);
  transform: translateY(-4px);
}

.member-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.max-width-700 {
  max-width: 700px;
}

.media {
  color: var(--nl-dark-navy);
}

.media :hover {
  color: var(--nl-tech-blue);
  transform: translateY(-2px);
}

/* footer */
.footer-custom {
  position: relative;
  background-color: var(--nl-deep-blue);
  background-repeat: repeat;
  background-size: 400px;
  padding: 80px 0 10px 0;
}

.footer-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* icons pattern */
  background-image: url("../../assets/bg-icons-confetti.svg");
  background-repeat: repeat;
  background-size: 600px;
  background-position: center;
  opacity: 0.15;
  z-index: 1;
  pointer-events: none;
}

.footer-custom .container {
  position: relative;
  z-index: 2;
}

.footer-logo {
  height: 40px;
}

.footer-nav-link {
  color: white !important;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  font-weight: 400;
}

.footer-nav-link:hover {
  opacity: 1;
  color: white !important;
}

.social-link {
  color: white;
  font-size: 1.5rem;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.social-link:hover {
  opacity: 1;
  transform: translateY(-2px);
  color: var(--nl-tech-blue);
}

.ls-widest {
  letter-spacing: 0.15em;
}
